# Inserts a blank line between shell prompts
add_newline = false


#
# FIRST LINE/ROW: Info & Status
#

# First param
[username]
format = "[╭─$user]($style)@"
style_user = "bold red"
style_root = "bold red"
show_always = true

# Second param
[hostname]
format = "[$hostname]($style) in "
style = "bold dimmed red"
trim_at = "-"
ssh_only = false
# disabled = false

# Third param
[directory]
style = "purple"
truncation_length = 0
truncate_to_repo = true
truncation_symbol = "repo: "

# Before all the version info (python, nodejs, php, etc.)
[git_status]
style = "white"
ahead = "${count}"
diverged = "${ahead_count}⇣${behind_count}"
behind = "${count}"
deleted = "x"

# Last param in the first line/row
[cmd_duration]
min_time = 1
format = "took [$duration]($style)"
disabled = false

#
# SECOND LINE/ROW: Prompt
#

# Somethere at the beginning
[battery]
full_symbol = " "
charging_symbol = " "
discharging_symbol = " "
disabled = false

[[battery.display]]  # "bold red" style when capacity is between 0% and 10%
threshold = 15
style = "bold red"

[[battery.display]]  # "bold yellow" style when capacity is between 10% and 30%
threshold = 50
style = "bold yellow"

[[battery.display]]  # "bold green" style when capacity is between 10% and 30%
threshold = 80
style = "bold green"

# Prompt: optional param 1
[time]
format = "   $time($style)\n"
time_format = "%T"
style = "bright-white"
disabled = true

# Prompt: param 2
[character]
success_symbol = "[╰─λ](bold red)"
# error_symbol = "[×](bold red)"
error_symbol = ""


# SYMBOLS
[status]
symbol = "sy"  # The symbol displayed on program error
not_executable_symbol = "×"  # The symbol displayed when file isn't executable
not_found_symbol = "?"  # The symbol displayed when the command can't be found
sigint_symbol = "!"  # The symbol displayed on SIGINT (Ctrl + c)
signal_symbol = "⚡"  #	The symbol displayed on any signal
recognize_signal_code = true  # Enable signal mapping from exit code
format = '[╰─$symbol$status_common_meaning$status_signal_name$status_maybe_int]($style)'
map_symbol = true
disabled = false

[aws]
symbol = " "

[conda]
symbol = " "

[dart]
symbol = " "

[docker_context]
symbol = " "

[elixir]
symbol = " "

[elm]
symbol = " "

[git_branch]
symbol = " "

[golang]
symbol = " "

[hg_branch]
symbol = " "

[java]
symbol = " "

[julia]
symbol = " "

[nim]
symbol = " "

[nix_shell]
symbol = " "

[nodejs]
symbol = " "

[package]
symbol = " "

[perl]
symbol = " "

[php]
symbol = " "

[python]
symbol = " "

[ruby]
symbol = " "

[rust]
symbol = " "

[swift]
symbol = "ﯣ "
